<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTO CREADO</title>
</head>
<body>
    <h1>Se completo la carga del articulo con el id N°: <%=articuloNuevo.id%>, y el nombre: <%=articuloNuevo.name%></h1>
    <h2><a href="/products">Volver al listado de productos</a></h2>
</body>
</html>